[Unit]
Description=Laravel Queue Worker
After=network.target

[Service]
User={{WEB_USER}}
Group={{WEB_GROUP}}
WorkingDirectory={{REMOTE_DIR}}
ExecStart={{PHP_PATH}} {{REMOTE_DIR}}/artisan queue:work --sleep=3 --tries=3 --timeout=300
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
