[Unit]
Description=Laravel Reverb
After=network.target redis-server.service
Wants=redis-server.service

[Service]
User={{WEB_USER}}
Group={{WEB_GROUP}}
WorkingDirectory={{REMOTE_DIR}}
ExecStart={{PHP_PATH}} {{REMOTE_DIR}}/artisan reverb:start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
