
pre code{
    border-radius: 5px!important;
    width: 100%!important;
    overflow: auto;
    direction: ltr!important;
    text-align: left!important;
    /* float: left; */
    font-size: inherit;
    color: whitesmoke!important;
    max-height: 30em;

}
code *{
    font-family: monospace, 'yekanbakh-medium'!important;
    font-weight: 600!important;

}



.editor-toolbar{
    display: inline-block!important;
    position: relative;
    direction: ltr!important;
    padding: 8px 5px!important;
    margin-bottom: 10px!important;
    border: 0;
    background-color: rgba(192, 195, 201, 0.247);
    border-radius: 7px!important;
    text-align: left;
}
.editor-toolbar button{
    border: 0!important;
    background-color: transparent!important;
    margin: auto 1px!important;
    padding: 1px!important;
    height: 25px!important;
}
.editor-toolbar button:hover{
    border: 0!important;
    background-color: transparent!important;
    color: white;
}
.editor-toolbar button i{
    margin: auto!important;
    font-size: 15px!important;
}

.CodeMirror {
    font-size: 15px!important;
    border-radius: 7px!important;
    padding: 5px 15px 5px 0px!important;
}
.CodeMirror-sizer{
    border: 0px;
    margin: 0px;
    padding: 0px 40px 0px 0px!important;
    overflow: hidden;
}
.CodeMirror-vscrollbar{
    visibility: hidden!important;
}
.CodeMirror-hscrollbar{
    visibility: hidden!important;
}
.CodeMirror-scroll{
    overflow: auto!important;
}

.CodeMirror pre:not([class]) {
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
    direction: ltr!important;
    text-align: left!important;
    margin-bottom: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    margin-top: 1.5rem;
    max-height: 30em;
}


.CodeMirror img{
    width: auto!important;
    max-width: 100%!important;
    margin: 10px auto!important;
}
.CodeMirror blockquote{
    display: inline-block!important;
    font-style: italic!important;
    vertical-align: middle!important;
    border-radius: 10px;
    opacity: 0.7;
    width: 100%;
    padding: 10px 15px 0px 15px;
    background-color: gainsboro;
}
.CodeMirror strong{
    font-weight: bold;
}
.CodeMirror a{
    color: blue;
    text-decoration: underline;
}
.CodeMirror a:hover{
    color: inherit;
    text-decoration: none;
}



/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #a7a5a5;
    border-right: 1px solid #a7a5a5;
    vertical-align: top;
    padding-right: 10px!important;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px!important;
}


.content-area {
    width: 100%!important;
}
.content-area img{
    width: auto!important;
    max-width: 100%!important;
    margin: 10px auto!important;
}
.content-area blockquote{
    display: inline-block!important;
    font-style: italic!important;
    vertical-align: middle!important;
    border-radius: 10px;
    opacity: 0.7;
    width: 100%;
    padding: 10px 15px 0px 15px;
    background-color: gainsboro;
}
.content-area strong{
    font-weight: bold;
}
.content-area a{
    color: blue;
    text-decoration: underline;
}
.content-area a:hover{
    color: inherit;
    text-decoration: none;
}










.editor-preview-full{
    cursor: not-allowed;
}
