.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.w-100 {
    width: 100% !important;
}

.col {
    max-width: 250px;
}







.activation-code-input {
    display: none;
}

.activation-code {
    direction: ltr;
    position: relative;
}

.activation-code::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid;
    border-color: #ccc;
    transition: opacity 0.3s ease;
}

.activation-code > span {
    position: absolute;
    display: block;
    font-size: 13px;
    color: #ccc;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
}

.activation-code .activation-code-inputs {
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    flex-flow: row nowrap;
}

.activation-code .activation-code-inputs input {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    border: 0;
    outline: 0;
    min-width: 0;
    line-height: 36px;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
    border-bottom: 2px solid;
    border-color: #ccc;
    margin-right: 8px;
    /*background: red;*/
    opacity: 0;
}

.activation-code .activation-code-inputs input:last-child {
    margin-right: 0;
}

.activation-code.active::before {
    opacity: 0;
}

.activation-code.active .activation-code-inputs input {
    opacity: 1 !important;
}

.activation-code .activation-code-inputs input:focus {
    border-color: #46b2f0 !important;
}

.activation-code.active > span {
    transform: translate(0, -100%);
    line-height: 30px;
    opacity: 0.6;
}
