   /* scroll style */
    /* width */
    ::-webkit-scrollbar {
        width: 4px!important;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: transparent!important;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #424141!important;
        border-radius: 10px!important;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #d47b13!important;
        }

        /* end scroll style */
